
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0; 
  background: url("../img/background.webp") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.form-container {
  margin: 40px auto;
  width: 80vw;           
  max-width: 600px;      
  aspect-ratio: 1 / 1;   
  background: url("../img/form.png") no-repeat center center;
  background-size: contain; 
  position: relative;
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;   
  text-align: center;
}

.birthyear-input {
  display: block;
  margin: 0 auto 10px;
  width: 40%;
  padding: 10px;
  font-size: 16px;
  font-family: "Georgia", serif;
  background: linear-gradient(#f9f4e6, #f2e9d0);
  border: 2px solid #d2b48c;    
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #0b3d02;
  color: #FFD700;          
  border: 2px solid #194d08;
  border-radius: 4px;
  font-family: "Georgia", serif; 
}

.frame-container {
  margin: 40px auto;
  width: 80vw;
  max-width: 600px;  
  aspect-ratio: 1 / 1;
  position: relative;
}

.zodiac-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
  z-index: 1;
}


.frame-foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}
